build/
*.class

# Package Files #
*.jar
*.war

# Log files
*.log
.metadata
.settings/
.loadpath

# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Maven.gitignore
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties